#addNewButton,#printTableButton{
    background-color: #212529;
    color:#fefefe;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

#addNewButton:hover{
    background-color: #ced4da;
    color:#212529;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

#printTableButton:hover{
    background-color: #ced4da;
    color:#212529;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}
