.light-mode {
    background-color: #f2f2f2;
    color: #000000;
}

.dark-mode {
    /* background-color: #212529;
    color: #ffffff; */
    background-color: #212529;
    color: rgba(255, 255, 255, 0.5);
}
.status{
    font-size: 10px;
   margin-left: 80%;
   font-style: italic;
}