body{
    font-size: 14px;
}
.logo {
    max-width: none; /* Allow the logo to exceed its parent's width */
    max-height: 80px; /* Adjust the value as needed */
    width: auto; /* Maintain aspect ratio */
    height: auto;
    margin-left: 25%;
    border-radius:50%;
    opacity: 0.7; 
}

/* Mobile */

@media (max-width: 1024px) {
    .logo {
        display: none;
    }
}